body {
  margin: 0;
  padding: 0;
  background-color: #F4F5F8;
  width:100%;
  
}
.App {
  display: flex;
}
main {
background-color:#F4F5F8;
max-height: 100vh;
overflow: auto;
}

.bg-header{background-color:#F4F5F8;z-index:-2}

/* #sidenav{position:relative}

#sidenav > button{position: absolute;color:#000;right:-50px}
.breadcrumb > .breadcrumb-item{margin-left:30px}

.sidebarprofile{height:35px; width:auto}

.navlinklogo a img{
  height:30px!important;
  overflow:hidden;
} */

.linkStyle{font-size:0.9rem;line-height: 2em;}
th{font-weight:400;font-size:0.8rem;}
thead{border-top:1px solid #b6b6b6!important;border-bottom:1px solid #b6b6b6!important;}

.yellow-bg{background:linear-gradient(to right,#F5B337,#F8D28B)}
.orange-bg{background:linear-gradient(to right,#FF8539,#FCB484)}
.green-bg{background:linear-gradient(to right,#63A9A9,#95E3E3)}

.buttonPro:hover{background:linear-gradient(to right,#fff, #0480e6, #fff);color:#000000; border:none}