.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background:url("../../assets/img/bg.png") no-repeat #000;
    background-position: left center;
    background-size: cover;
    padding: 20px 0;
    position:relative;
    z-index:9999;
}

.sidenav > button{position: absolute;color:#000;right:-50px;z-index:5}

.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px;
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}
.w{width:1%!important}

.sidenav .sideitem:nth-of-type(2){
  margin:0 10px;
  padding:15px 0;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.sidenav .sideitem:last-child{position: fixed;
    bottom:10px;border-top:1px solid rgba(255,255,255,0.5);
    margin:0 15px;
    width:185px;
}

.linkText {
    padding-left: 16px;
}

.sideitem:hover {
    background-color: #244f7d1c;
}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}
.sidenavClosed .sideitem:nth-of-type(2) > img {
    height:25px !important;
    padding:0 8px;
}
.sidenavClosed .navlinklogo a img{
    height:30px!important;
    max-width: 40px;
    overflow:hidden;
}
.sidenavClosed .sideitem:last-child{
   width:10px;
    border-top:1px solid transparent;
   margin:0;
}


.sidebarprofile{height:35px; width:auto; display:inline-block}

/* .navlinklogo a img{
  height:30px!important;
  overflow:hidden;
} */