
*.dll
*.dll
*.vsidx
*.pdb
*.cache
*.editorconfig
RestFul Web API/TeamSavvy.Api/.vs/TeamSavvy.Api/v17/.suo
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.csproj.CoreCompileInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.GeneratedMSBuildEditorConfig.editorconfig
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/project.assets.json
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/project.nuget.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/TeamSavvy.Api.BusinessModel.csproj.nuget.dgspec.json
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.BusinessModel/obj/TeamSavvy.Api.BusinessModel.csproj.nuget.g.targets
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.runtimeconfig.dev.json
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.assets.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.csproj.CoreCompileInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.GeneratedMSBuildEditorConfig.editorconfig
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.genruntimeconfig.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/project.assets.json
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/project.nuget.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/TeamSavvy.Api.Entities.csproj.nuget.dgspec.json
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/TeamSavvy.Api.Entities.csproj.nuget.g.props
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Entities/obj/TeamSavvy.Api.Entities.csproj.nuget.g.targets
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Middleware/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Services.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Services.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.csproj.CoreCompileInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Services/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Services.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.csproj.CoreCompileInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api.Utilities/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.BusinessModel.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Entities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Middleware.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Services.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Services.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Utilities.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Web.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/bin/Debug/netcoreapp3.1/TeamSavvy.Api.Web.pdb
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.csproj.AssemblyReference.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.csproj.CoreCompileInputs.cache
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.dll
RestFul Web API/TeamSavvy.Api/TeamSavvy.Api/obj/Debug/netcoreapp3.1/TeamSavvy.Api.Web.pdb
