USE [master]
GO
/****** Object:  Database [TeamSavvy]    Script Date: 11/23/2022 9:28:56 PM ******/
CREATE DATABASE [TeamSavvy]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeamSavvy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeamSavvy]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[APARTMENT] [varchar](20) NOT NULL,
	[CITY_ID] [int] NOT NULL,
	[POSTCODE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[CITY_NAME] [varchar](max) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dashboard]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard](
	[DASHBOARD_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_ON] [varchar](50) NOT NULL,
	[IS_DELETED] [tinyint] NOT NULL,
 CONSTRAINT [PK_Dashboard] PRIMARY KEY CLUSTERED 
(
	[DASHBOARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DEPARTMENT_ID] [int] NOT NULL,
	[DEPARTMENT_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_FIRSTNAME] [nchar](20) NOT NULL,
	[EMPLOYEE_LASTNAME] [nchar](20) NOT NULL,
	[DATEOFBIRTH] [varchar](50) NOT NULL,
	[HIREDATE] [varchar](50) NULL,
	[PHONE] [varchar](15) NOT NULL,
	[EMAIL] [varchar](max) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[EXTENSION] [int] NOT NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[BANKACCOUNT] [varchar](50) NULL,
	[JOB_LOCATION_ID] [int] NOT NULL,
	[EMPLOYEE_IMAGE] [varchar](max) NULL,
	[PASSWORD] [varchar](max) NULL,
	[BANKNAME] [varchar](max) NULL,
	[BANKCODE] [varchar](50) NULL,
	[RESIGNEDDATE] [varchar](50) NULL,
 CONSTRAINT [PK_Employee_1] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Leave]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Leave](
	[EMPLOYEE_LEAVE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[LEAVE_TYPE_ID] [int] NOT NULL,
	[LEAVE_START] [varchar](50) NOT NULL,
	[LEAVE_ENDS] [varchar](50) NOT NULL,
	[LEAVE_DAYS] [int] NULL,
	[IS_APPROVED] [bit] NOT NULL,
	[LEAVE_APPROVAL_DATE] [varchar](50) NULL,
	[LEAVE_APPROVAL_BY] [varchar](max) NULL,
	[LEAVE_STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_Employee_Leave] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_LEAVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Project]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Project](
	[EMPLOYEE_PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_Employee_Project] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Skill]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Skill](
	[EMPLOYEE_SKILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[SKILL_ID] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_Employee_Skill] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_SKILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JOB_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_POSITION] [varchar](50) NULL,
	[SALARY] [varchar](50) NULL,
	[DETAILS] [varchar](max) NULL,
	[RESPONSIBILITIES] [varchar](max) NULL,
	[CREATED_ON] [varchar](50) NULL,
	[DEADLINE] [varchar](50) NULL,
	[ISDELETE] [bit] NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Applied]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Applied](
	[JOB_APPLIED_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[JOB_ID] [int] NOT NULL,
	[APPLIED_ON] [varchar](50) NOT NULL,
 CONSTRAINT [PK_JOB_APPLIED] PRIMARY KEY CLUSTERED 
(
	[JOB_APPLIED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Category]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Category](
	[JOB_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_CATEGORY_NAME] [varchar](50) NOT NULL,
	[JOB_CATEGORY_VALUE] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Job_Category] PRIMARY KEY CLUSTERED 
(
	[JOB_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Location]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Location](
	[JOB_LOCATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [varchar](max) NOT NULL,
	[POSTCODE] [varchar](50) NOT NULL,
	[CITY_ID] [int] NOT NULL,
 CONSTRAINT [PK_Job_Location] PRIMARY KEY CLUSTERED 
(
	[JOB_LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Skills]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Skills](
	[JOBSKILLID] [int] IDENTITY(1,1) NOT NULL,
	[JOBID] [int] NOT NULL,
	[SKILLID] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_Job_Skills] PRIMARY KEY CLUSTERED 
(
	[JOBSKILLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[LEAVE_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LEAVE_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[LEAVE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[PAYROLL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[SALARY_ID] [int] NOT NULL,
	[PAY_DATE] [varchar](50) NOT NULL,
	[PAY_TYPE] [varchar](20) NULL,
	[TOTAL_HOURS] [int] NULL,
	[EARNING] [varchar](50) NULL,
	[NETPAY] [varchar](50) NULL,
	[PAY_YTD] [varchar](50) NULL,
	[PAY_VACATION] [varchar](50) NULL,
	[PAY_SICK] [varchar](50) NULL,
	[DEDUCTION] [varchar](50) NULL,
	[TOTALWORKINGDAYS] [int] NULL,
 CONSTRAINT [PK_Payroll] PRIMARY KEY CLUSTERED 
(
	[PAYROLL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_NAME] [varchar](max) NOT NULL,
	[PROJECT_START_DATE] [varchar](50) NOT NULL,
	[PROJECT_END_DATE] [varchar](50) NULL,
	[PROJECT_BUDGET] [varchar](max) NULL,
	[PROJECT_DESC] [varchar](max) NULL,
	[TOTAL_TASK_COUNT] [int] NULL,
	[TOTAL_COMPLETED_COUNT] [int] NULL,
	[PROJECT_MANAGER_ID] [int] NOT NULL,
	[PROJECT_MANAGER_NAME] [varchar](max) NOT NULL,
	[PROJECT_CLIENT] [varchar](max) NOT NULL,
	[PROJECT_LEAD] [varchar](max) NULL,
	[PROJECT_TOTAL_EMPLOYEES] [int] NULL,
 CONSTRAINT [PK_Project_1] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[PROVINCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCE_NAME] [varchar](max) NOT NULL,
	[PROVINCE_ABBR] [varchar](30) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Potition] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SALARY_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEESALARY] [varchar](50) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[SALARY_INCREMENT_DATE] [varchar](20) NOT NULL,
	[SALARY_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[SALARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SKILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[SKILL_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[SKILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[STATUS_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_TYPE] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[TASK_NAME] [varchar](max) NOT NULL,
	[TASK_DESC] [varchar](max) NULL,
	[TASK_START_DATE] [varchar](50) NULL,
	[TASK_END_DATE] [varchar](50) NULL,
	[TASK_TOTAL_HOURS] [varchar](50) NULL,
	[ASSIGNED_BY] [varchar](50) NULL,
	[ASSIGNED_TO] [varchar](50) NULL,
	[ASSIGNED_DATE] [varchar](50) NOT NULL,
	[TASK_STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[TIMESHEET_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[CLOCK_DATE] [varchar](20) NULL,
	[CLOCK_TIME] [varchar](20) NULL,
	[CLOCK_TYPE] [varchar](20) NULL,
 CONSTRAINT [PK_TimeSheet] PRIMARY KEY CLUSTERED 
(
	[TIMESHEET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Widget]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Widget](
	[WIDGET_ID] [int] IDENTITY(1,1) NOT NULL,
	[Dashboard_ID] [int] NOT NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_ON] [varchar](50) NULL,
	[SELECTION] [varchar](10) NULL,
	[QUERIES] [varchar](10) NULL,
 CONSTRAINT [PK_Widget] PRIMARY KEY CLUSTERED 
(
	[WIDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Widget_type]    Script Date: 11/23/2022 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Widget_type](
	[WIDGET_TYPE_ID] [int] NOT NULL,
	[WIDGET_TYPE] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Widget_type] PRIMARY KEY CLUSTERED 
(
	[WIDGET_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Address_ID], [APARTMENT], [CITY_ID], [POSTCODE]) VALUES (1, N'123', 1, N'JH434')
INSERT [dbo].[Address] ([Address_ID], [APARTMENT], [CITY_ID], [POSTCODE]) VALUES (2, N'4543', 1, N'HFDH764')
INSERT [dbo].[Address] ([Address_ID], [APARTMENT], [CITY_ID], [POSTCODE]) VALUES (3, N'343', 2, N'KH86')
GO
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CITY_ID], [PROVINCE_ID], [CITY_NAME]) VALUES (1, 1, N'Abbotsford')
INSERT [dbo].[City] ([CITY_ID], [PROVINCE_ID], [CITY_NAME]) VALUES (2, 1, N'Burnaby')
INSERT [dbo].[City] ([CITY_ID], [PROVINCE_ID], [CITY_NAME]) VALUES (3, 1, N'Langley')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (1, N'Canada')
INSERT [dbo].[Country] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (3, N'England')
INSERT [dbo].[Country] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (8, N'Australia')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Dashboard] ON 

INSERT [dbo].[Dashboard] ([DASHBOARD_ID], [EMPLOYEE_ID], [CREATED_BY], [CREATED_ON], [IS_DELETED]) VALUES (1, 1, N'ankit     ', N'2022-09-07', 0)
INSERT [dbo].[Dashboard] ([DASHBOARD_ID], [EMPLOYEE_ID], [CREATED_BY], [CREATED_ON], [IS_DELETED]) VALUES (2, 2, N'Bhavna    ', N'2022-04-02', 0)
INSERT [dbo].[Dashboard] ([DASHBOARD_ID], [EMPLOYEE_ID], [CREATED_BY], [CREATED_ON], [IS_DELETED]) VALUES (3, 8, N'Hermoine  ', N'2022-12-13', 0)
SET IDENTITY_INSERT [dbo].[Dashboard] OFF
GO
INSERT [dbo].[Department] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (1, N'Finance')
INSERT [dbo].[Department] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (2, N'Marketing')
INSERT [dbo].[Department] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (3, N'Information Technology')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EMPLOYEE_ID], [EMPLOYEE_FIRSTNAME], [EMPLOYEE_LASTNAME], [DATEOFBIRTH], [HIREDATE], [PHONE], [EMAIL], [ADDRESS_ID], [EXTENSION], [DEPARTMENT_ID], [ROLE_ID], [STATUS_ID], [BANKACCOUNT], [JOB_LOCATION_ID], [EMPLOYEE_IMAGE], [PASSWORD], [BANKNAME], [BANKCODE], [RESIGNEDDATE]) VALUES (8, N'Harman              ', N'Lal                 ', N'1997-05-06', N'2016-09-02', N'600868683 ', N'harmanlal@gmail.com', 11, 3004, 3, 3, 1, N'600655333', 10, NULL, N'1234', N'SCOTIA', N'11005', NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Leave] ON 

INSERT [dbo].[Employee_Leave] ([EMPLOYEE_LEAVE_ID], [EMPLOYEE_ID], [LEAVE_TYPE_ID], [LEAVE_START], [LEAVE_ENDS], [LEAVE_DAYS], [IS_APPROVED], [LEAVE_APPROVAL_DATE], [LEAVE_APPROVAL_BY], [LEAVE_STATUS]) VALUES (72, 2, 2, N'2022-11-13', N'2022-11-14', 1, 0, N'', N'', N'')
INSERT [dbo].[Employee_Leave] ([EMPLOYEE_LEAVE_ID], [EMPLOYEE_ID], [LEAVE_TYPE_ID], [LEAVE_START], [LEAVE_ENDS], [LEAVE_DAYS], [IS_APPROVED], [LEAVE_APPROVAL_DATE], [LEAVE_APPROVAL_BY], [LEAVE_STATUS]) VALUES (73, 12, 1, N'2022-11-18', N'2022-11-19', 1, 0, N'', N'', N'')
INSERT [dbo].[Employee_Leave] ([EMPLOYEE_LEAVE_ID], [EMPLOYEE_ID], [LEAVE_TYPE_ID], [LEAVE_START], [LEAVE_ENDS], [LEAVE_DAYS], [IS_APPROVED], [LEAVE_APPROVAL_DATE], [LEAVE_APPROVAL_BY], [LEAVE_STATUS]) VALUES (75, 8, 1, N'2022-11-22', N'2022-11-23', 1, 0, N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Employee_Leave] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Project] ON 

INSERT [dbo].[Employee_Project] ([EMPLOYEE_PROJECT_ID], [EMPLOYEE_ID], [PROJECT_ID], [STATUS]) VALUES (3, 8, 2, 1)
INSERT [dbo].[Employee_Project] ([EMPLOYEE_PROJECT_ID], [EMPLOYEE_ID], [PROJECT_ID], [STATUS]) VALUES (4, 11, 2, 1)
INSERT [dbo].[Employee_Project] ([EMPLOYEE_PROJECT_ID], [EMPLOYEE_ID], [PROJECT_ID], [STATUS]) VALUES (5, 12, 2, 0)
SET IDENTITY_INSERT [dbo].[Employee_Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Skill] ON 

INSERT [dbo].[Employee_Skill] ([EMPLOYEE_SKILL_ID], [EMPLOYEE_ID], [SKILL_ID], [ISACTIVE]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Employee_Skill] ([EMPLOYEE_SKILL_ID], [EMPLOYEE_ID], [SKILL_ID], [ISACTIVE]) VALUES (2, 2, 2, 1)
INSERT [dbo].[Employee_Skill] ([EMPLOYEE_SKILL_ID], [EMPLOYEE_ID], [SKILL_ID], [ISACTIVE]) VALUES (3, 8, 3, 1)
SET IDENTITY_INSERT [dbo].[Employee_Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

SET IDENTITY_INSERT [dbo].[Job] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Applied] ON 

INSERT [dbo].[Job_Applied] ([JOB_APPLIED_ID], [EMPLOYEE_ID], [JOB_ID], [APPLIED_ON]) VALUES (0, 1, 12, N'2022-11-09')
INSERT [dbo].[Job_Applied] ([JOB_APPLIED_ID], [EMPLOYEE_ID], [JOB_ID], [APPLIED_ON]) VALUES (1, 1, 1, N'2022-09-11')
INSERT [dbo].[Job_Applied] ([JOB_APPLIED_ID], [EMPLOYEE_ID], [JOB_ID], [APPLIED_ON]) VALUES (2, 2, 2, N'2022-11-13')
SET IDENTITY_INSERT [dbo].[Job_Applied] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Category] ON 

INSERT [dbo].[Job_Category] ([JOB_CATEGORY_ID], [JOB_CATEGORY_NAME], [JOB_CATEGORY_VALUE]) VALUES (1, N'Software Engineer', N'3000      ')
INSERT [dbo].[Job_Category] ([JOB_CATEGORY_ID], [JOB_CATEGORY_NAME], [JOB_CATEGORY_VALUE]) VALUES (2, N'Data Scientist', N'3001      ')
INSERT [dbo].[Job_Category] ([JOB_CATEGORY_ID], [JOB_CATEGORY_NAME], [JOB_CATEGORY_VALUE]) VALUES (3, N'Data Engineer', N'3002      ')
SET IDENTITY_INSERT [dbo].[Job_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Location] ON 

INSERT [dbo].[Job_Location] ([JOB_LOCATION_ID], [LOCATION], [POSTCODE], [CITY_ID]) VALUES (1, N'124A', N'KJH3927', 5)
INSERT [dbo].[Job_Location] ([JOB_LOCATION_ID], [LOCATION], [POSTCODE], [CITY_ID]) VALUES (2, N'76T', N'KDJ776', 1)
INSERT [dbo].[Job_Location] ([JOB_LOCATION_ID], [LOCATION], [POSTCODE], [CITY_ID]) VALUES (3, N'LKJ87', N'JHGD87', 2)
SET IDENTITY_INSERT [dbo].[Job_Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Skills] ON 

INSERT [dbo].[Job_Skills] ([JOBSKILLID], [JOBID], [SKILLID], [ISACTIVE]) VALUES (4, 2, 1, 1)
INSERT [dbo].[Job_Skills] ([JOBSKILLID], [JOBID], [SKILLID], [ISACTIVE]) VALUES (5, 2, 2, 1)
INSERT [dbo].[Job_Skills] ([JOBSKILLID], [JOBID], [SKILLID], [ISACTIVE]) VALUES (9, 5, 3, 1)
SET IDENTITY_INSERT [dbo].[Job_Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[Leave] ON 

INSERT [dbo].[Leave] ([LEAVE_TYPE_ID], [LEAVE_TYPE]) VALUES (1, N'Sick')
INSERT [dbo].[Leave] ([LEAVE_TYPE_ID], [LEAVE_TYPE]) VALUES (2, N'Vacation')
SET IDENTITY_INSERT [dbo].[Leave] OFF
GO
SET IDENTITY_INSERT [dbo].[Payroll] ON 

INSERT [dbo].[Payroll] ([PAYROLL_ID], [EMPLOYEE_ID], [SALARY_ID], [PAY_DATE], [PAY_TYPE], [TOTAL_HOURS], [EARNING], [NETPAY], [PAY_YTD], [PAY_VACATION], [PAY_SICK], [DEDUCTION], [TOTALWORKINGDAYS]) VALUES (1, 1, 1, N'2022-10-08', N'Monthly', 160, N'4167', N'50000', N'4167', N'100', N'100', N'2500', 20)
INSERT [dbo].[Payroll] ([PAYROLL_ID], [EMPLOYEE_ID], [SALARY_ID], [PAY_DATE], [PAY_TYPE], [TOTAL_HOURS], [EARNING], [NETPAY], [PAY_YTD], [PAY_VACATION], [PAY_SICK], [DEDUCTION], [TOTALWORKINGDAYS]) VALUES (2, 2, 2, N'2022-11-07', N'Monthly', 160, N'4167', N'50000', N'4167', N'100', N'100', N'2700', 20)
INSERT [dbo].[Payroll] ([PAYROLL_ID], [EMPLOYEE_ID], [SALARY_ID], [PAY_DATE], [PAY_TYPE], [TOTAL_HOURS], [EARNING], [NETPAY], [PAY_YTD], [PAY_VACATION], [PAY_SICK], [DEDUCTION], [TOTALWORKINGDAYS]) VALUES (5, 8, 4, N'2022-10-02', N'Monthly', 160, N'4167', N'50000', N'4167', N'100', N'100', N'1400', 20)
SET IDENTITY_INSERT [dbo].[Payroll] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([PROVINCE_ID], [PROVINCE_NAME], [PROVINCE_ABBR], [COUNTRY_ID]) VALUES (1, N'British Columbia', N'BC', 1)
INSERT [dbo].[Province] ([PROVINCE_ID], [PROVINCE_NAME], [PROVINCE_ABBR], [COUNTRY_ID]) VALUES (2, N'Alberta', N'AB', 1)
INSERT [dbo].[Province] ([PROVINCE_ID], [PROVINCE_NAME], [PROVINCE_ABBR], [COUNTRY_ID]) VALUES (3, N'Manitoba', N'MB', 1)
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ROLE_ID], [ROLE_TYPE]) VALUES (1, N'HR')
INSERT [dbo].[Role] ([ROLE_ID], [ROLE_TYPE]) VALUES (2, N'Admin')
INSERT [dbo].[Role] ([ROLE_ID], [ROLE_TYPE]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([SALARY_ID], [EMPLOYEESALARY], [EMPLOYEE_ID], [SALARY_INCREMENT_DATE], [SALARY_TYPE]) VALUES (1, N'50000', 1, N'2022-09-08', N'Full Time')
INSERT [dbo].[Salary] ([SALARY_ID], [EMPLOYEESALARY], [EMPLOYEE_ID], [SALARY_INCREMENT_DATE], [SALARY_TYPE]) VALUES (2, N'50000', 2, N'2022-10-07', N'Full Time')
INSERT [dbo].[Salary] ([SALARY_ID], [EMPLOYEESALARY], [EMPLOYEE_ID], [SALARY_INCREMENT_DATE], [SALARY_TYPE]) VALUES (4, N'50000', 9, N'2022-09-02', N'Full Time')
SET IDENTITY_INSERT [dbo].[Salary] OFF
GO
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([SKILL_ID], [SKILL_NAME]) VALUES (1, N'C#')
INSERT [dbo].[Skill] ([SKILL_ID], [SKILL_NAME]) VALUES (2, N'Python')
INSERT [dbo].[Skill] ([SKILL_ID], [SKILL_NAME]) VALUES (3, N'Machine Learning')
SET IDENTITY_INSERT [dbo].[Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([STATUS_ID], [STATUS_TYPE]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([STATUS_ID], [STATUS_TYPE]) VALUES (2, N'Resigned')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([TASK_ID], [EMPLOYEE_ID], [PROJECT_ID], [TASK_NAME], [TASK_DESC], [TASK_START_DATE], [TASK_END_DATE], [TASK_TOTAL_HOURS], [ASSIGNED_BY], [ASSIGNED_TO], [ASSIGNED_DATE], [TASK_STATUS]) VALUES (1, 9, 8, N'Predictive analysis', N' This analysis is used to forecast future events based on past and present data. It uses machine learning tools, data mining, big data, predictive modeling, artificial intelligence, and simulations.
', N'2022-03-04', N'2022-04-10', N'15', N'Jaspal', N'Jo', N'2022-04-04', N'Assigned')
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([TIMESHEET_ID], [EMPLOYEE_ID], [CLOCK_DATE], [CLOCK_TIME], [CLOCK_TYPE]) VALUES (1, 1, N'2022-10-09', N'8:00 AM', N'Clock- In')
INSERT [dbo].[TimeSheet] ([TIMESHEET_ID], [EMPLOYEE_ID], [CLOCK_DATE], [CLOCK_TIME], [CLOCK_TYPE]) VALUES (2, 2, N'2022-10-08', N'2:00 PM', N'Clock-In')
INSERT [dbo].[TimeSheet] ([TIMESHEET_ID], [EMPLOYEE_ID], [CLOCK_DATE], [CLOCK_TIME], [CLOCK_TYPE]) VALUES (3, 8, N'2022-11-06', N'7:00 AM', N'Clock-In')
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
GO
SET IDENTITY_INSERT [dbo].[Widget] ON 

INSERT [dbo].[Widget] ([WIDGET_ID], [Dashboard_ID], [CREATED_BY], [CREATED_ON], [SELECTION], [QUERIES]) VALUES (17, 4, N'Joling Weng', N'2022-11-22', N'1', N'e-3')
INSERT [dbo].[Widget] ([WIDGET_ID], [Dashboard_ID], [CREATED_BY], [CREATED_ON], [SELECTION], [QUERIES]) VALUES (18, 4, N'Joling Weng', N'2022-11-22', N'0', N'p-5')
INSERT [dbo].[Widget] ([WIDGET_ID], [Dashboard_ID], [CREATED_BY], [CREATED_ON], [SELECTION], [QUERIES]) VALUES (1007, 4, N'Joling Weng', N'2022-11-23', N'0', N'p-1')
SET IDENTITY_INSERT [dbo].[Widget] OFF
GO
INSERT [dbo].[Widget_type] ([WIDGET_TYPE_ID], [WIDGET_TYPE]) VALUES (1, N'Calender  ')
INSERT [dbo].[Widget_type] ([WIDGET_TYPE_ID], [WIDGET_TYPE]) VALUES (2, N'Graphs    ')
INSERT [dbo].[Widget_type] ([WIDGET_TYPE_ID], [WIDGET_TYPE]) VALUES (3, N'Bar Graphs')
GO
ALTER TABLE [dbo].[Employee_Leave] ADD  CONSTRAINT [DF_Employee_Leave_IS_APPROVED]  DEFAULT ((0)) FOR [IS_APPROVED]
GO
ALTER TABLE [dbo].[Job] ADD  CONSTRAINT [DF_Job_ISDELETE]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_City] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[City] ([CITY_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_City]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([PROVINCE_ID])
REFERENCES [dbo].[Province] ([PROVINCE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[Dashboard]  WITH CHECK ADD  CONSTRAINT [FK_Dashboard_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dashboard] CHECK CONSTRAINT [FK_Dashboard_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Job_location] FOREIGN KEY([JOB_LOCATION_ID])
REFERENCES [dbo].[Job_Location] ([JOB_LOCATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Job_location]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Potition] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[Role] ([ROLE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Potition]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Status] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[Status] ([STATUS_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Status]
GO
ALTER TABLE [dbo].[Employee_Project]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Project_Employee_ID] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Project] CHECK CONSTRAINT [FK_Employee_Project_Employee_ID]
GO
ALTER TABLE [dbo].[Employee_Project]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Project_ID] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[Project] ([PROJECT_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Project] CHECK CONSTRAINT [FK_Employee_Project_ID]
GO
ALTER TABLE [dbo].[Employee_Skill]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Skill_ID] FOREIGN KEY([SKILL_ID])
REFERENCES [dbo].[Skill] ([SKILL_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Skill] CHECK CONSTRAINT [FK_Employee_Skill_ID]
GO
ALTER TABLE [dbo].[Job_Applied]  WITH CHECK ADD  CONSTRAINT [FK_Job_Applied_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Applied] CHECK CONSTRAINT [FK_Job_Applied_Employee]
GO
ALTER TABLE [dbo].[Job_Applied]  WITH CHECK ADD  CONSTRAINT [FK_Job_Applied_Job_ID] FOREIGN KEY([JOB_ID])
REFERENCES [dbo].[Job] ([JOB_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Applied] CHECK CONSTRAINT [FK_Job_Applied_Job_ID]
GO
ALTER TABLE [dbo].[Job_Location]  WITH CHECK ADD  CONSTRAINT [FK_Job_Location_City] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[City] ([CITY_ID])
GO
ALTER TABLE [dbo].[Job_Location] CHECK CONSTRAINT [FK_Job_Location_City]
GO
ALTER TABLE [dbo].[Job_Skills]  WITH CHECK ADD  CONSTRAINT [FK_Job_Skills_Job] FOREIGN KEY([JOBID])
REFERENCES [dbo].[Job] ([JOB_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Skills] CHECK CONSTRAINT [FK_Job_Skills_Job]
GO
ALTER TABLE [dbo].[Job_Skills]  WITH CHECK ADD  CONSTRAINT [FK_Job_Skills_Skill] FOREIGN KEY([SKILLID])
REFERENCES [dbo].[Skill] ([SKILL_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Skills] CHECK CONSTRAINT [FK_Job_Skills_Skill]
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD  CONSTRAINT [FK_Payroll_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payroll] CHECK CONSTRAINT [FK_Payroll_Employee]
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD  CONSTRAINT [FK_Payroll_Salary] FOREIGN KEY([SALARY_ID])
REFERENCES [dbo].[Salary] ([SALARY_ID])
GO
ALTER TABLE [dbo].[Payroll] CHECK CONSTRAINT [FK_Payroll_Salary]
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD  CONSTRAINT [FK_Province_Country] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[Country] ([COUNTRY_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Province] CHECK CONSTRAINT [FK_Province_Country]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Employee_ID] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_Employee_ID]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Employee]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[Project] ([PROJECT_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_Employee_ID] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_Employee_ID]
GO
ALTER TABLE [dbo].[Widget]  WITH CHECK ADD  CONSTRAINT [FK_Widget_Widget_type] FOREIGN KEY([Dashboard_ID])
REFERENCES [dbo].[Dashboard] ([DASHBOARD_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Widget] CHECK CONSTRAINT [FK_Widget_Widget_type]
GO
USE [master]
GO
