.loginBody{background:url("../../assets/img/bg.png")no-repeat;background-size:cover }
.cardImg{position:absolute; width:24.87rem; z-index: -8}
.loginCard{width: 25rem!important; position: absolute!important; top: 50%!important; left:50%!important ;transform: translate(-50%, -50%)!important}