-- Author Name: Jaspal Singh
-- Database Name: TeamSavvy
-- Created On:  10/24/2022
-- Script Version 1.1


USE [master]
GO
CREATE DATABASE [TeamSavvy]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeamSavvy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeamSavvy]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[APARTMENT] [varchar](20) NOT NULL,
	[CITY_ID] [int] NOT NULL,
	[POSTCODE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[CITY_NAME] [varchar](max) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dashboard]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard](
	[DASHBOARD_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[CREATED_BY] [nchar](10) NOT NULL,
	[CREATED_ON] [date] NOT NULL,
	[IS_DELETED] [tinyint] NOT NULL,
	[CREATED_BY_ID] [int] NOT NULL,
 CONSTRAINT [PK_Dashboard] PRIMARY KEY CLUSTERED 
(
	[DASHBOARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DEPARTMENT_ID] [int] NOT NULL,
	[DEPARTMENT_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_FIRSTNAME] [nchar](20) NOT NULL,
	[EMPLOYEE_LASTNAME] [nchar](20) NOT NULL,
	[DATEOFBIRTH] [date] NOT NULL,
	[HIREDATE] [date] NULL,
	[PHONE] [varchar](15) NOT NULL,
	[EMAIL] [varchar](max) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[EXTENSION] [int] NOT NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[BANKACCOUNT] [varchar](50) NULL,
	[JOB_LOCATION_ID] [int] NOT NULL,
	[EMPLOYEE_IMAGE] [varbinary](max) NULL,
	[PASSWORD] [varchar](max) NULL,
 CONSTRAINT [PK_Employee_1] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Leave]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Leave](
	[EMPLOYEE_LEAVE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[LEAVE_TYPE_ID] [int] NOT NULL,
	[LEAVE_START] [date] NOT NULL,
	[LEAVE_ENDS] [date] NOT NULL,
	[LEAVE_DAYS] [int] NULL,
	[IS_APPROVED] [bit] NOT NULL,
	[LEAVE_APPROVAL_DATE] [date] NULL,
	[LEAVE_APPROVAL_BY] [varchar](max) NULL,
	[LEAVE_STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_Employee_Leave] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_LEAVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Project]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Project](
	[EMPLOYEE_PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_Employee_Project] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Skill]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Skill](
	[EMPLOYEE_SKILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[SKILL_ID] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_Employee_Skill] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_SKILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JOB_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_CATEGORY_ID] [int] NOT NULL,
	[JOB_LOCATION_ID] [int] NOT NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
	[JOB_POSITION] [varchar](50) NOT NULL,
	[JOB_SALARY] [int] NOT NULL,
	[JOB_DESC] [varchar](max) NOT NULL,
	[QUALIFICATION] [varchar](max) NOT NULL,
	[CREATED_ON] [date] NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Applied]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Applied](
	[JOB_APPLIED_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[JOB_ID] [int] NOT NULL,
	[APPLIED_ON] [date] NOT NULL,
 CONSTRAINT [PK_JOB_APPLIED] PRIMARY KEY CLUSTERED 
(
	[JOB_APPLIED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Category]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Category](
	[JOB_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_CATEGORY_NAME] [varchar](50) NOT NULL,
	[JOB_CATEGORY_VALUE] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Job_Category] PRIMARY KEY CLUSTERED 
(
	[JOB_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Location]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Location](
	[JOB_LOCATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [varchar](max) NOT NULL,
	[POSTCODE] [varchar](50) NOT NULL,
	[CITY_ID] [int] NOT NULL,
 CONSTRAINT [PK_Job_Location] PRIMARY KEY CLUSTERED 
(
	[JOB_LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[LEAVE_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LEAVE_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[LEAVE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[PAYROLL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[SALARY_ID] [int] NOT NULL,
	[PAY_DATE] [date] NOT NULL,
	[PAY_TYPE] [varchar](20) NULL,
	[TOTAL_HOURS] [int] NULL,
	[EARNING] [varchar](50) NULL,
	[NETPAY] [varchar](50) NULL,
	[PAY_YTD] [varchar](50) NULL,
	[PAY_VACATION] [varchar](50) NULL,
	[PAY_SICK] [varchar](50) NULL,
	[DEDUCTION] [varchar](50) NULL,
 CONSTRAINT [PK_Payroll] PRIMARY KEY CLUSTERED 
(
	[PAYROLL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_NAME] [varchar](max) NOT NULL,
	[PROJECT_START_DATE] [date] NOT NULL,
	[PROJECT_END_DATE] [date] NULL,
	[PROJECT_BUDGET] [varchar](max) NULL,
	[PROJECT_DESC] [varchar](max) NULL,
	[TOTAL_TASK_COUNT] [int] NULL,
	[TOTAL_COMPLETED_COUNT] [int] NULL,
	[PROJECT_MANAGER_ID] [int] NOT NULL,
	[PROJECT_MANAGER_NAME] [varchar](max) NOT NULL,
	[PROJECT_CLIENT] [varchar](max) NOT NULL,
	[PROJECT_LEAD] [varchar](max) NULL,
	[PROJECT_TOTAL_EMPLOYEES] [int] NULL,
 CONSTRAINT [PK_Project_1] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[PROVINCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCE_NAME] [varchar](max) NOT NULL,
	[PROVINCE_ABBR] [varchar](30) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Potition] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SALARY_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEESALARY] [varchar](50) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[SALARY_INCREMENT_DATE] [varchar](20) NOT NULL,
	[SALARY_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[SALARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SKILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[SKILL_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[SKILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[STATUS_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_TYPE] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[TASK_NAME] [varchar](max) NOT NULL,
	[TASK_DESC] [varchar](max) NULL,
	[TASK_START_DATE] [date] NULL,
	[TAST_END_DATE] [date] NULL,
	[TASK_TOTAL_HOURS] [varchar](50) NULL,
	[ASSIGNED_BY] [varchar](50) NULL,
	[ASSIGNED_TO] [varchar](50) NULL,
	[ASSIGNED_DATE] [date] NOT NULL,
	[TASK_STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[TIMESHEET_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[CLOCK_DATE] [varchar](20) NULL,
	[CLOCK_TIME] [varchar](20) NULL,
	[CLOCK_TYPE] [varchar](20) NULL,
 CONSTRAINT [PK_TimeSheet] PRIMARY KEY CLUSTERED 
(
	[TIMESHEET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Widget]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Widget](
	[WIDGET_ID] [int] NOT NULL,
	[Dashboard_ID] [int] NOT NULL,
	[WIDGET_NAME] [nchar](10) NOT NULL,
	[WIDGET_TYPE_ID] [int] NOT NULL,
	[X_AXIS] [nchar](10) NOT NULL,
	[Y_AXIS] [nchar](10) NOT NULL,
	[HEIGHT] [int] NOT NULL,
	[LENGTH] [int] NOT NULL,
	[CREATED_BY] [nchar](10) NOT NULL,
	[CREATED_ON] [date] NOT NULL,
 CONSTRAINT [PK_Widget] PRIMARY KEY CLUSTERED 
(
	[WIDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Widget_type]    Script Date: 10/24/2022 12:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Widget_type](
	[WIDGET_TYPE_ID] [int] NOT NULL,
	[WIDGET_TYPE] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Widget_type] PRIMARY KEY CLUSTERED 
(
	[WIDGET_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Address_ID], [APARTMENT], [CITY_ID], [POSTCODE]) VALUES (1, N'123', 1, N'JH434')
INSERT [dbo].[Address] ([Address_ID], [APARTMENT], [CITY_ID], [POSTCODE]) VALUES (2, N'4543', 1, N'HFDH764')
INSERT [dbo].[Address] ([Address_ID], [APARTMENT], [CITY_ID], [POSTCODE]) VALUES (3, N'343', 2, N'KH86')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CITY_ID], [PROVINCE_ID], [CITY_NAME]) VALUES (1, 1, N'Abbotsford')
INSERT [dbo].[City] ([CITY_ID], [PROVINCE_ID], [CITY_NAME]) VALUES (2, 1, N'Burnaby')
INSERT [dbo].[City] ([CITY_ID], [PROVINCE_ID], [CITY_NAME]) VALUES (3, 1, N'Langley')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (1, N'Canada')
INSERT [dbo].[Country] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (3, N'England')
INSERT [dbo].[Country] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (8, N'Australia')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
INSERT [dbo].[Dashboard] ([DASHBOARD_ID], [EMPLOYEE_ID], [CREATED_BY], [CREATED_ON], [IS_DELETED], [CREATED_BY_ID]) VALUES (1, 1, N'ankit     ', CAST(N'2022-09-07' AS Date), 1, 1)
INSERT [dbo].[Dashboard] ([DASHBOARD_ID], [EMPLOYEE_ID], [CREATED_BY], [CREATED_ON], [IS_DELETED], [CREATED_BY_ID]) VALUES (2, 2, N'Bhavna    ', CAST(N'2022-04-02' AS Date), 2, 2)
INSERT [dbo].[Dashboard] ([DASHBOARD_ID], [EMPLOYEE_ID], [CREATED_BY], [CREATED_ON], [IS_DELETED], [CREATED_BY_ID]) VALUES (3, 8, N'Hermoine  ', CAST(N'2022-12-13' AS Date), 1, 1)
GO
INSERT [dbo].[Department] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (1, N'Finance')
INSERT [dbo].[Department] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (2, N'Marketing')
INSERT [dbo].[Department] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (3, N'Information Technology')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EMPLOYEE_ID], [EMPLOYEE_FIRSTNAME], [EMPLOYEE_LASTNAME], [DATEOFBIRTH], [HIREDATE], [PHONE], [EMAIL], [ADDRESS_ID], [EXTENSION], [DEPARTMENT_ID], [ROLE_ID], [STATUS_ID], [BANKACCOUNT], [JOB_LOCATION_ID], [EMPLOYEE_IMAGE], [PASSWORD]) VALUES (1, N'Jaspal              ', N'Singh               ', CAST(N'1995-10-09' AS Date), CAST(N'2015-09-08' AS Date), N'6046785242', N'jaspalsingh@gmail.com', 9, 1880, 1001, 1, 1, N'600678563', 5, NULL, N'1234')
INSERT [dbo].[Employee] ([EMPLOYEE_ID], [EMPLOYEE_FIRSTNAME], [EMPLOYEE_LASTNAME], [DATEOFBIRTH], [HIREDATE], [PHONE], [EMAIL], [ADDRESS_ID], [EXTENSION], [DEPARTMENT_ID], [ROLE_ID], [STATUS_ID], [BANKACCOUNT], [JOB_LOCATION_ID], [EMPLOYEE_IMAGE], [PASSWORD]) VALUES (2, N'Jasmine             ', N'Kaur                ', CAST(N'1995-09-12' AS Date), CAST(N'2014-10-07' AS Date), N'6046572432', N'jasminekaur@gmail.com', 10, 1990, 1002, 2, 1, N'6007653475', 6, NULL, N'1234')
INSERT [dbo].[Employee] ([EMPLOYEE_ID], [EMPLOYEE_FIRSTNAME], [EMPLOYEE_LASTNAME], [DATEOFBIRTH], [HIREDATE], [PHONE], [EMAIL], [ADDRESS_ID], [EXTENSION], [DEPARTMENT_ID], [ROLE_ID], [STATUS_ID], [BANKACCOUNT], [JOB_LOCATION_ID], [EMPLOYEE_IMAGE], [PASSWORD]) VALUES (8, N'Harman              ', N'Lal                 ', CAST(N'1997-05-06' AS Date), CAST(N'2016-09-02' AS Date), N'600868683 ', N'harmanlal@gmail.com', 11, 3004, 1003, 3, 1, N'600655333', 10, NULL, N'1234')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Leave] ON 

INSERT [dbo].[Employee_Leave] ([EMPLOYEE_LEAVE_ID], [EMPLOYEE_ID], [LEAVE_TYPE_ID], [LEAVE_START], [LEAVE_ENDS], [LEAVE_DAYS], [IS_APPROVED], [LEAVE_APPROVAL_DATE], [LEAVE_APPROVAL_BY], [LEAVE_STATUS]) VALUES (1, 1, 1, CAST(N'2022-09-08' AS Date), CAST(N'2022-10-08' AS Date), 12, 1, CAST(N'2022-08-08' AS Date), N'2', N'Approved')
INSERT [dbo].[Employee_Leave] ([EMPLOYEE_LEAVE_ID], [EMPLOYEE_ID], [LEAVE_TYPE_ID], [LEAVE_START], [LEAVE_ENDS], [LEAVE_DAYS], [IS_APPROVED], [LEAVE_APPROVAL_DATE], [LEAVE_APPROVAL_BY], [LEAVE_STATUS]) VALUES (2, 2, 2, CAST(N'2022-03-04' AS Date), CAST(N'2022-04-05' AS Date), 15, 0, CAST(N'2022-03-01' AS Date), N'2', N'Rejected')
INSERT [dbo].[Employee_Leave] ([EMPLOYEE_LEAVE_ID], [EMPLOYEE_ID], [LEAVE_TYPE_ID], [LEAVE_START], [LEAVE_ENDS], [LEAVE_DAYS], [IS_APPROVED], [LEAVE_APPROVAL_DATE], [LEAVE_APPROVAL_BY], [LEAVE_STATUS]) VALUES (3, 8, 1, CAST(N'2022-05-06' AS Date), CAST(N'2022-05-11' AS Date), 8, 1, CAST(N'2022-05-05' AS Date), N'1', N'Approved')
SET IDENTITY_INSERT [dbo].[Employee_Leave] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Project] ON 

INSERT [dbo].[Employee_Project] ([EMPLOYEE_PROJECT_ID], [EMPLOYEE_ID], [PROJECT_ID], [STATUS]) VALUES (3, 1, 2, 1)
INSERT [dbo].[Employee_Project] ([EMPLOYEE_PROJECT_ID], [EMPLOYEE_ID], [PROJECT_ID], [STATUS]) VALUES (4, 2, 3, 0)
INSERT [dbo].[Employee_Project] ([EMPLOYEE_PROJECT_ID], [EMPLOYEE_ID], [PROJECT_ID], [STATUS]) VALUES (5, 8, 8, 1)
SET IDENTITY_INSERT [dbo].[Employee_Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Skill] ON 

INSERT [dbo].[Employee_Skill] ([EMPLOYEE_SKILL_ID], [EMPLOYEE_ID], [SKILL_ID], [ISACTIVE]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Employee_Skill] ([EMPLOYEE_SKILL_ID], [EMPLOYEE_ID], [SKILL_ID], [ISACTIVE]) VALUES (2, 2, 2, 0)
INSERT [dbo].[Employee_Skill] ([EMPLOYEE_SKILL_ID], [EMPLOYEE_ID], [SKILL_ID], [ISACTIVE]) VALUES (3, 8, 3, 1)
SET IDENTITY_INSERT [dbo].[Employee_Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

INSERT [dbo].[Job] ([JOB_ID], [JOB_CATEGORY_ID], [JOB_LOCATION_ID], [DEPARTMENT_ID], [JOB_POSITION], [JOB_SALARY], [JOB_DESC], [QUALIFICATION], [CREATED_ON]) VALUES (1, 2, 5, 1001, N'Project Manager', 40000, N'Manages Projects', N'Graduation Level', CAST(N'2022-09-08' AS Date))
INSERT [dbo].[Job] ([JOB_ID], [JOB_CATEGORY_ID], [JOB_LOCATION_ID], [DEPARTMENT_ID], [JOB_POSITION], [JOB_SALARY], [JOB_DESC], [QUALIFICATION], [CREATED_ON]) VALUES (2, 3, 6, 1002, N'Data Scientist', 80000, N'Manages Data Science Projects', N'Masters in Data Science', CAST(N'2022-07-10' AS Date))
INSERT [dbo].[Job] ([JOB_ID], [JOB_CATEGORY_ID], [JOB_LOCATION_ID], [DEPARTMENT_ID], [JOB_POSITION], [JOB_SALARY], [JOB_DESC], [QUALIFICATION], [CREATED_ON]) VALUES (5, 3, 8, 1003, N'Data Analyst', 50000, N'Design Project', N'Graduation Level Certification', CAST(N'2022-08-07' AS Date))
SET IDENTITY_INSERT [dbo].[Job] OFF
GO
INSERT [dbo].[Job_Applied] ([JOB_APPLIED_ID], [EMPLOYEE_ID], [JOB_ID], [APPLIED_ON]) VALUES (1, 1, 1, CAST(N'2022-09-11' AS Date))
INSERT [dbo].[Job_Applied] ([JOB_APPLIED_ID], [EMPLOYEE_ID], [JOB_ID], [APPLIED_ON]) VALUES (2, 2, 2, CAST(N'2022-11-13' AS Date))
INSERT [dbo].[Job_Applied] ([JOB_APPLIED_ID], [EMPLOYEE_ID], [JOB_ID], [APPLIED_ON]) VALUES (3, 8, 5, CAST(N'2022-09-07' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Job_Category] ON 

INSERT [dbo].[Job_Category] ([JOB_CATEGORY_ID], [JOB_CATEGORY_NAME], [JOB_CATEGORY_VALUE]) VALUES (1, N'Software Engineer', N'3000      ')
INSERT [dbo].[Job_Category] ([JOB_CATEGORY_ID], [JOB_CATEGORY_NAME], [JOB_CATEGORY_VALUE]) VALUES (2, N'Data Scientist', N'3001      ')
INSERT [dbo].[Job_Category] ([JOB_CATEGORY_ID], [JOB_CATEGORY_NAME], [JOB_CATEGORY_VALUE]) VALUES (3, N'Data Engineer', N'3002      ')
SET IDENTITY_INSERT [dbo].[Job_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Location] ON 

INSERT [dbo].[Job_Location] ([JOB_LOCATION_ID], [LOCATION], [POSTCODE], [CITY_ID]) VALUES (1, N'124A', N'KJH3927', 5)
INSERT [dbo].[Job_Location] ([JOB_LOCATION_ID], [LOCATION], [POSTCODE], [CITY_ID]) VALUES (2, N'76T', N'KDJ776', 1)
INSERT [dbo].[Job_Location] ([JOB_LOCATION_ID], [LOCATION], [POSTCODE], [CITY_ID]) VALUES (3, N'LKJ87', N'JHGD87', 2)
SET IDENTITY_INSERT [dbo].[Job_Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Leave] ON 

INSERT [dbo].[Leave] ([LEAVE_TYPE_ID], [LEAVE_TYPE]) VALUES (1, N'Sick')
INSERT [dbo].[Leave] ([LEAVE_TYPE_ID], [LEAVE_TYPE]) VALUES (2, N'Vacation')
SET IDENTITY_INSERT [dbo].[Leave] OFF
GO
SET IDENTITY_INSERT [dbo].[Payroll] ON 

INSERT [dbo].[Payroll] ([PAYROLL_ID], [EMPLOYEE_ID], [SALARY_ID], [PAY_DATE], [PAY_TYPE], [TOTAL_HOURS], [EARNING], [NETPAY], [PAY_YTD], [PAY_VACATION], [PAY_SICK], [DEDUCTION]) VALUES (1, 1, 1, CAST(N'2022-09-09' AS Date), N'Monthly', 40, N'30000', N'100000', N'4000', N'3000', N'2000', N'2500')
INSERT [dbo].[Payroll] ([PAYROLL_ID], [EMPLOYEE_ID], [SALARY_ID], [PAY_DATE], [PAY_TYPE], [TOTAL_HOURS], [EARNING], [NETPAY], [PAY_YTD], [PAY_VACATION], [PAY_SICK], [DEDUCTION]) VALUES (2, 2, 2, CAST(N'2022-08-08' AS Date), N'Monthly', 45, N'40000', N'120000', N'3500', N'4000', N'2000', N'2700')
INSERT [dbo].[Payroll] ([PAYROLL_ID], [EMPLOYEE_ID], [SALARY_ID], [PAY_DATE], [PAY_TYPE], [TOTAL_HOURS], [EARNING], [NETPAY], [PAY_YTD], [PAY_VACATION], [PAY_SICK], [DEDUCTION]) VALUES (5, 8, 4, CAST(N'2022-07-07' AS Date), N'Monthly', 55, N'30000', N'130000', N'4500', N'2200', N'1500', N'1400')
SET IDENTITY_INSERT [dbo].[Payroll] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([PROJECT_ID], [PROJECT_NAME], [PROJECT_START_DATE], [PROJECT_END_DATE], [PROJECT_BUDGET], [PROJECT_DESC], [TOTAL_TASK_COUNT], [TOTAL_COMPLETED_COUNT], [PROJECT_MANAGER_ID], [PROJECT_MANAGER_NAME], [PROJECT_CLIENT], [PROJECT_LEAD], [PROJECT_TOTAL_EMPLOYEES]) VALUES (2, N'Weather Forecasting', CAST(N'2022-10-10' AS Date), CAST(N'2023-02-09' AS Date), N'15000', N'Working on weather prediction', 15, 10, 100, N'Harry', N'KPMG', N'John', 12)
INSERT [dbo].[Project] ([PROJECT_ID], [PROJECT_NAME], [PROJECT_START_DATE], [PROJECT_END_DATE], [PROJECT_BUDGET], [PROJECT_DESC], [TOTAL_TASK_COUNT], [TOTAL_COMPLETED_COUNT], [PROJECT_MANAGER_ID], [PROJECT_MANAGER_NAME], [PROJECT_CLIENT], [PROJECT_LEAD], [PROJECT_TOTAL_EMPLOYEES]) VALUES (3, N'Library App', CAST(N'2022-11-18' AS Date), CAST(N'2012-01-12' AS Date), N'13000', N'Design android based app', 12, 8, 101, N'Joseph', N'Whirlpool', N'Adam', 5)
INSERT [dbo].[Project] ([PROJECT_ID], [PROJECT_NAME], [PROJECT_START_DATE], [PROJECT_END_DATE], [PROJECT_BUDGET], [PROJECT_DESC], [TOTAL_TASK_COUNT], [TOTAL_COMPLETED_COUNT], [PROJECT_MANAGER_ID], [PROJECT_MANAGER_NAME], [PROJECT_CLIENT], [PROJECT_LEAD], [PROJECT_TOTAL_EMPLOYEES]) VALUES (8, N'Statistical Analysis', CAST(N'2022-03-04' AS Date), CAST(N'2022-05-06' AS Date), N'20000', N'To work on statistic Data', 7, 4, 102, N'Helen', N'Douglas', N'Pheobe', 3)
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([PROVINCE_ID], [PROVINCE_NAME], [PROVINCE_ABBR], [COUNTRY_ID]) VALUES (1, N'British Columbia', N'BC', 1)
INSERT [dbo].[Province] ([PROVINCE_ID], [PROVINCE_NAME], [PROVINCE_ABBR], [COUNTRY_ID]) VALUES (2, N'Alberta', N'AB', 1)
INSERT [dbo].[Province] ([PROVINCE_ID], [PROVINCE_NAME], [PROVINCE_ABBR], [COUNTRY_ID]) VALUES (3, N'Manitoba', N'MB', 1)
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ROLE_ID], [ROLE_TYPE]) VALUES (1, N'HR')
INSERT [dbo].[Role] ([ROLE_ID], [ROLE_TYPE]) VALUES (2, N'Admin')
INSERT [dbo].[Role] ([ROLE_ID], [ROLE_TYPE]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([SALARY_ID], [EMPLOYEESALARY], [EMPLOYEE_ID], [SALARY_INCREMENT_DATE], [SALARY_TYPE]) VALUES (1, N'50000', 1, N'5000', N'Full Time')
INSERT [dbo].[Salary] ([SALARY_ID], [EMPLOYEESALARY], [EMPLOYEE_ID], [SALARY_INCREMENT_DATE], [SALARY_TYPE]) VALUES (2, N'60000', 2, N'4000', N'Full Time')
INSERT [dbo].[Salary] ([SALARY_ID], [EMPLOYEESALARY], [EMPLOYEE_ID], [SALARY_INCREMENT_DATE], [SALARY_TYPE]) VALUES (4, N'45000', 9, N'3000', N'Full Time')
SET IDENTITY_INSERT [dbo].[Salary] OFF
GO
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([SKILL_ID], [SKILL_NAME]) VALUES (1, N'C#')
INSERT [dbo].[Skill] ([SKILL_ID], [SKILL_NAME]) VALUES (2, N'Python')
INSERT [dbo].[Skill] ([SKILL_ID], [SKILL_NAME]) VALUES (3, N'Machine Learning')
SET IDENTITY_INSERT [dbo].[Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([STATUS_ID], [STATUS_TYPE]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([STATUS_ID], [STATUS_TYPE]) VALUES (2, N'Resigned')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([TASK_ID], [EMPLOYEE_ID], [PROJECT_ID], [TASK_NAME], [TASK_DESC], [TASK_START_DATE], [TAST_END_DATE], [TASK_TOTAL_HOURS], [ASSIGNED_BY], [ASSIGNED_TO], [ASSIGNED_DATE], [TASK_STATUS]) VALUES (1, 1, 2, N'Collect Data', N'collect the related infometion ', CAST(N'2022-12-13' AS Date), CAST(N'2022-12-14' AS Date), N'12', N'Erica', N'Naila', CAST(N'2022-12-12' AS Date), N'Assigned')
INSERT [dbo].[Task] ([TASK_ID], [EMPLOYEE_ID], [PROJECT_ID], [TASK_NAME], [TASK_DESC], [TASK_START_DATE], [TAST_END_DATE], [TASK_TOTAL_HOURS], [ASSIGNED_BY], [ASSIGNED_TO], [ASSIGNED_DATE], [TASK_STATUS]) VALUES (2, 2, 3, N'Filter Data', N'apply codinh techniques to filter data', CAST(N'2022-11-10' AS Date), CAST(N'2022-11-23' AS Date), N'10', N'Rose', N'Lily', CAST(N'2022-11-07' AS Date), N'InProgress')
INSERT [dbo].[Task] ([TASK_ID], [EMPLOYEE_ID], [PROJECT_ID], [TASK_NAME], [TASK_DESC], [TASK_START_DATE], [TAST_END_DATE], [TASK_TOTAL_HOURS], [ASSIGNED_BY], [ASSIGNED_TO], [ASSIGNED_DATE], [TASK_STATUS]) VALUES (3, 8, 8, N'Statistical Analysis', N'Apply Statistics', CAST(N'2022-03-04' AS Date), CAST(N'2022-02-09' AS Date), N'5', N'Melony', N'Methew', CAST(N'2022-03-02' AS Date), N'Completed')
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([TIMESHEET_ID], [EMPLOYEE_ID], [CLOCK_DATE], [CLOCK_TIME], [CLOCK_TYPE]) VALUES (1, 1, N'2022-10-09', N'8:00AM', N'Clock- In')
INSERT [dbo].[TimeSheet] ([TIMESHEET_ID], [EMPLOYEE_ID], [CLOCK_DATE], [CLOCK_TIME], [CLOCK_TYPE]) VALUES (2, 2, N'2022-10-08', N'2.00PM', N'Clock-Out')
INSERT [dbo].[TimeSheet] ([TIMESHEET_ID], [EMPLOYEE_ID], [CLOCK_DATE], [CLOCK_TIME], [CLOCK_TYPE]) VALUES (3, 8, N'2022-09-06', N'7.00AM', N'Clock-In')
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
GO
INSERT [dbo].[Widget] ([WIDGET_ID], [Dashboard_ID], [WIDGET_NAME], [WIDGET_TYPE_ID], [X_AXIS], [Y_AXIS], [HEIGHT], [LENGTH], [CREATED_BY], [CREATED_ON]) VALUES (1, 1, N'Calender  ', 1, N'8         ', N'8         ', 20, 20, N'Jasmine   ', CAST(N'2022-10-04' AS Date))
INSERT [dbo].[Widget] ([WIDGET_ID], [Dashboard_ID], [WIDGET_NAME], [WIDGET_TYPE_ID], [X_AXIS], [Y_AXIS], [HEIGHT], [LENGTH], [CREATED_BY], [CREATED_ON]) VALUES (2, 2, N'Graphs    ', 2, N'12        ', N'7         ', 25, 20, N'Harman    ', CAST(N'2022-07-06' AS Date))
INSERT [dbo].[Widget] ([WIDGET_ID], [Dashboard_ID], [WIDGET_NAME], [WIDGET_TYPE_ID], [X_AXIS], [Y_AXIS], [HEIGHT], [LENGTH], [CREATED_BY], [CREATED_ON]) VALUES (3, 3, N'Bar Graphs', 3, N'15        ', N'8         ', 35, 36, N'JoLing    ', CAST(N'2022-03-04' AS Date))
GO
INSERT [dbo].[Widget_type] ([WIDGET_TYPE_ID], [WIDGET_TYPE]) VALUES (1, N'Calender  ')
INSERT [dbo].[Widget_type] ([WIDGET_TYPE_ID], [WIDGET_TYPE]) VALUES (2, N'Graphs    ')
INSERT [dbo].[Widget_type] ([WIDGET_TYPE_ID], [WIDGET_TYPE]) VALUES (3, N'Bar Graphs')
GO
/****** Object:  Index [UNQ_Payroll]    Script Date: 10/24/2022 12:30:58 AM ******/
ALTER TABLE [dbo].[Payroll] ADD  CONSTRAINT [UNQ_Payroll] UNIQUE NONCLUSTERED 
(
	[PAY_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Salary]    Script Date: 10/24/2022 12:30:58 AM ******/
ALTER TABLE [dbo].[Salary] ADD  CONSTRAINT [UNQ_Salary] UNIQUE NONCLUSTERED 
(
	[SALARY_INCREMENT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee_Leave] ADD  CONSTRAINT [DF_Employee_Leave_IS_APPROVED]  DEFAULT ((0)) FOR [IS_APPROVED]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_City] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[City] ([CITY_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_City]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([PROVINCE_ID])
REFERENCES [dbo].[Province] ([PROVINCE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[Dashboard]  WITH CHECK ADD  CONSTRAINT [FK_Dashboard_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dashboard] CHECK CONSTRAINT [FK_Dashboard_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Job_location] FOREIGN KEY([JOB_LOCATION_ID])
REFERENCES [dbo].[Job_Location] ([JOB_LOCATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Job_location]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Potition] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[Role] ([ROLE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Potition]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Status] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[Status] ([STATUS_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Status]
GO
ALTER TABLE [dbo].[Employee_Project]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Project_Employee_ID] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Project] CHECK CONSTRAINT [FK_Employee_Project_Employee_ID]
GO
ALTER TABLE [dbo].[Employee_Project]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Project_ID] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[Project] ([PROJECT_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Project] CHECK CONSTRAINT [FK_Employee_Project_ID]
GO
ALTER TABLE [dbo].[Employee_Skill]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Skill_ID] FOREIGN KEY([SKILL_ID])
REFERENCES [dbo].[Skill] ([SKILL_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Skill] CHECK CONSTRAINT [FK_Employee_Skill_ID]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Job_Category] FOREIGN KEY([JOB_CATEGORY_ID])
REFERENCES [dbo].[Job_Category] ([JOB_CATEGORY_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Job_Category]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Job_Location] FOREIGN KEY([JOB_LOCATION_ID])
REFERENCES [dbo].[Job_Location] ([JOB_LOCATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Job_Location]
GO
ALTER TABLE [dbo].[Job_Applied]  WITH CHECK ADD  CONSTRAINT [FK_Job_Applied_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[Job_Applied] CHECK CONSTRAINT [FK_Job_Applied_Employee]
GO
ALTER TABLE [dbo].[Job_Applied]  WITH CHECK ADD  CONSTRAINT [FK_Job_Applied_Job_ID] FOREIGN KEY([JOB_ID])
REFERENCES [dbo].[Job] ([JOB_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Applied] CHECK CONSTRAINT [FK_Job_Applied_Job_ID]
GO
ALTER TABLE [dbo].[Job_Location]  WITH CHECK ADD  CONSTRAINT [FK_Job_Location_City] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[City] ([CITY_ID])
GO
ALTER TABLE [dbo].[Job_Location] CHECK CONSTRAINT [FK_Job_Location_City]
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD  CONSTRAINT [FK_Payroll_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payroll] CHECK CONSTRAINT [FK_Payroll_Employee]
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD  CONSTRAINT [FK_Payroll_Salary] FOREIGN KEY([SALARY_ID])
REFERENCES [dbo].[Salary] ([SALARY_ID])
GO
ALTER TABLE [dbo].[Payroll] CHECK CONSTRAINT [FK_Payroll_Salary]
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD  CONSTRAINT [FK_Province_Country] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[Country] ([COUNTRY_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Province] CHECK CONSTRAINT [FK_Province_Country]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Employee_ID] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_Employee_ID]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Employee] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Employee]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[Project] ([PROJECT_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_Employee_ID] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[Employee] ([EMPLOYEE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_Employee_ID]
GO
ALTER TABLE [dbo].[Widget]  WITH CHECK ADD  CONSTRAINT [FK_Widget_Widget_type] FOREIGN KEY([Dashboard_ID])
REFERENCES [dbo].[Dashboard] ([DASHBOARD_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Widget] CHECK CONSTRAINT [FK_Widget_Widget_type]
GO
USE [master]
GO
