.jobs-card, .card-job-detail{
  overflow-y: auto;
  width: 100%;
  height: 85vh;
}

.job-card{
  width: auto;
  border: none;
  margin-top: 2%;

}

.job-card-title{
  font-weight: bold;
  font-size: 1.3rem;
}

.job-subtitle{
  font-weight: bold;
  margin: 2vh 0;
}

.job-card > .job-subtitle{
  margin-top: 0;
}

.btn-view-job-detail{
  text-align: left;
  padding-left: 0;
  text-decoration: none;
}

.card-job-detail{
  overflow-y: auto;
  position: relative;
}

.createAndApply-btn{
  float: right;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  
}

.job-detail-payAndDealine{
  /* position: absolute;
  bottom: 0; */
}


.job-detail-payAndDealine > span:nth-of-type(2){
  float: right;  
}

@media only screen and (max-width:600px){
  .job-card-title{font-size:1rem}

}

.MuiDataGrid-columnSeparator{visibility:hidden}
.MuiDataGrid-columnHeaderTitle{font-size:0.8rem;color:#525252}