<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f528611f-e2e8-40ff-a1b9-c7cbf2b0b1d9/resourceGroups/TeamSavvy/providers/Microsoft.Web/sites/TeamSavvyApi</ResourceId>
    <ResourceGroup>TeamSavvy</ResourceGroup>
    <ApiResourceId>/subscriptions/f528611f-e2e8-40ff-a1b9-c7cbf2b0b1d9/resourceGroups/TeamSavvy/providers/Microsoft.ApiManagement/service/TeamSavvyApi/apis/TeamSavvyApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teamsavvyapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b53f648c-418c-4c0f-ba4f-e1b63067471d</ProjectGuid>
    <MSDeployServiceURL>teamsavvyapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TeamSavvyApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TeamSavvyApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>