.loginBody{background:url("../../assets/img/bg.png")no-repeat;background-size:cover }
.card{width: 25rem; position: absolute; top: 50%; left:50% ;transform: translate(-50%, -50%)}
.cardImg{position:absolute; width:24.87rem; z-index: -8}